.jumboBg{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../../assets/jumbotron.svg);
    background-repeat: no-repeat;
    background-position: right;
    color:white
}
.child{
    /* background-color: red; */
 font-size: 12px;   
}